@using SCA.Common;
@model List<SCA.Entity.DTO.ContentForHomePageDTO>

@if (!Model.Equals(null) && Model.Count > 0)
{
    @* MORE NEWS *@
    <section class="block-wrapper mb-30" id="more-news-section">
        <div class="container">
            <div class="ts-grid-box ts-grid-box-heighlight">
                <h2 class="ts-title">Diğer Haberler</h2>

                <div class="owl-carousel" id="more-news-slider">
                    @foreach (var x in Model)
                    {
                        <div class="ts-overlay-style">
                            <div class="item">
                                <div class="ts-post-thumb">
                                    <a href="@Url.Action("Index", "Blog", new { x.SeoUrl })">
                                        <img class="img-fluid" src="@x.ImagePath" alt="Öğrenci Kariyeri - @x.CategoryName: @x.Header">
                                    </a>
                                </div>
                                @if (!string.IsNullOrEmpty(x.Category))
                                {
                                    <a class="post-cat ts-green-bg" href="@Url.Action("Index", "Category", new { id = x.Category.Split(',')[0].ToString(), seoUrl = x.CategoryName.FriendlyUrl()})">@x.CategoryName</a>
                                }
                                <div class="overlay-post-content">
                                    <div class="post-content">
                                        <h3 class="post-title">
                                            <a href="@Url.Action("Index", "Blog", new { x.SeoUrl })">@x.Header</a>
                                        </h3>
                                        <span class="post-date-info">
                                            <i class="fa fa-clock-o"></i>
                                            @x.PublishDate.ToString("dd.MM.yyyy")
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- end item-->
                        </div>
                    }
                </div>
                <!-- most-populers end-->
            </div>
            <!-- ts-populer-post-box end-->
        </div>
        <!-- container end-->
    </section>
    @* MORE NEWS END *@
}
