@using Microsoft.AspNetCore.Http;
@using SCA.Common;

@model SCA.Entity.DTO.RecentAndFavoritesContentForUIDto

@{
    SCA.Entity.DTO.UserSession user = new SCA.Entity.DTO.UserSession();
    if (Context.Session.Keys.Any(x => x.Contains("userInfo")))
    {
        user = Newtonsoft.Json.JsonConvert.DeserializeObject<SCA.Entity.DTO.UserSession>(Context.Session.GetString("userInfo"));
    }
}

@if (!user.Id.Equals(0) && Model != null && Model.Recents != null && Model.Recents.Count > 0)
{
    <div class="post-list-item widgets">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation">
                <a class="active" href="#home" aria-controls="home" role="tab" data-toggle="tab">
                    <i class="fa fa-clock-o"></i>
                    Son
                </a>
            </li>
            <li role="presentation">
                <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
                    <i class="fa fa-heart"></i>
                    Favoriler
                </a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active ts-grid-box post-tab-list" id="home">
                @foreach (var x in Model.Recents)
                {
                    <div class="post-content media">
                        <img class="d-flex sidebar-img" src="@x.ImagePath" alt="Öğrenci Kariyeri - @x.Header">
                        <div class="media-body">
                            @if (!string.IsNullOrEmpty(x.Category))
                            {
                                <span class="post-tag">
                                    <a href="@Url.Action("Index", "Category", new { id = x.Category.Split(',')[0].ToString(), seoUrl = x.CategoryName.FriendlyUrl()})" class="green-color">@x.CategoryName</a>
                                </span>
                            }
                            <h4 class="post-title">
                                <a href="@Url.Action("Index", "Blog", new { SeoUrl = x.SeoUrl })">@x.Header</a>
                            </h4>
                        </div>
                    </div>
                }
            </div>
            <!--ts-grid-box end -->
            <div role="tabpanel" class="tab-pane ts-grid-box post-tab-list" id="profile">
                @foreach (var x in Model.Favorites)
                {
                    <div class="post-content media">
                        <img class="d-flex sidebar-img" src="@x.ImagePath" alt="Öğrenci Kariyeri - @x.Header">
                        <div class="media-body">
                            @if (!string.IsNullOrEmpty(x.Category))
                            {
                                <span class="post-tag">
                                    <a href="@Url.Action("Index", "Category", new { id = x.Category.Split(',')[0].ToString(), seoUrl = x.CategoryName.FriendlyUrl()})" class="green-color">@x.CategoryName</a>
                                </span>
                            }
                            <h4 class="post-title">
                                <a href="@Url.Action("Index", "Blog", new { SeoUrl = x.SeoUrl })">@x.Header</a>
                            </h4>
                        </div>
                    </div>
                }
            </div>
            <!--ts-grid-box end -->
        </div>
        <!-- tab content end-->
    </div>
}
