@using SCA.Common
<script src="/js/jquery.min.js"></script>
@model SCA.Entity.DTO.CompClubHeaderDto

@if (!Model.Equals(null))
{
    <section class="block-wrapper featured-section-item pt-110 pb-110 banner-area" style="background:url(@Model.HeaderImage);background-size:cover;background-position:center">
        <div class="offset-lg-9 col-lg-3">
            <div class="ts-grid-box widgets ts-social-list-item" style="box-shadow: -6px 6px 40px 4px black;">
                <h2 class="text-center p-b-20">@Model.ShortName</h2>
                @if (!string.IsNullOrEmpty(Model.WebSite))
                {
                    <h3 class="ts-title float-left">Web Site:</h3>
                    <a href="@Model.WebSite" target="_blank" rel="nofollow" class="view-all-link float-right">@Model.WebSite.Replace("https://", "").Replace("http://", "")</a>
                    <div class="clearfix"></div>
                }
                @if (!string.IsNullOrEmpty(Model.SectorName))
                {
                    <h3 class="ts-title float-left">Sektör:</h3>
                    <a href="#" class="view-all-link float-right">@Model.SectorName</a>
                    <div class="clearfix"></div>
                }
                @if (!string.IsNullOrEmpty(Model.PhoneNumber))
                {
                    <h3 class="ts-title float-left">Telefon:</h3>
                    <a href="tel:@Model.PhoneNumber" class="view-all-link float-right">@Model.PhoneNumber</a>
                    <div class="clearfix"></div>
                }
                @if (!string.IsNullOrEmpty(Model.EmailAddress))
                {
                    <h3 class="ts-title float-left">Mail:</h3>
                    <a href="mailto:@Model.EmailAddress" class="view-all-link float-right">@Model.EmailAddress</a>
                    <div class="clearfix"></div>
                }
                <input hidden id="stxteourl" value="@Model.SeoUrl" />
                @if (!Model.SocialMedias.Equals(null) && Model.SocialMedias.Count > 0)
                {

                    <ul>
                        @if (Context.GetSessionData<SCA.Entity.DTO.UserSession>("userInfo")?.Id > 0)
                        {
                            <button id="folloCompanyBtn" class="comments-btn btn btn-success" type="button" value="@Model.FollowCompany"><span id="followValue">@(Model.FollowCompany == "0" ? "Takip Et" : "Takipi Bırak")</span>  </button>
                        }
                        else
                        {
                            <button id="folloCompanyBtn" class="comments-btn btn btn-success openLoginMagnific" type="button"><span id="followValue">@(Model.FollowCompany == "0" ? "Takip Et" : "Takipi Bırak")</span></button>
                        }

                    </ul>
                    <ul>
                        @foreach (var x in Model.SocialMedias)
                        {
                            <li class="ts-@x.SocialMediaType.GetDescription().Split(",")[0].Trim()">
                                <a href="@x.Url" target="_blank">
                                    <i class="fa fa-@x.SocialMediaType.GetDescription().Split(",")[1].Trim()"></i>
                                    @*<b>@x.FollowerCount</b>*@
                                    <span>@x.SocialMediaType.GetDescription().Split(",")[2].Trim()</span>
                                </a>
                            </li>
                        }
                    </ul>
                    <input hidden type="text" id="followdata" value="@Model.FollowCompany" />
                }

            </div>
        </div>
    </section>
}




<script>
    //if ($("#followdata").val() == "0") {
    //    $("#followValue").text("Takip Et");
    //    $("#followValue1").text("Takip Et");
    //} else {
    //    $("#followValue").text("Takip Ediliyor");
    //    $("#followValue1").text("Takip Ediliyor");
    //}
    $(document).on('click', '#folloCompanyBtn', function (e) {
        debugger
        console.log($("#folloCompanyBtn").val());
        $.ajax({
            url: '/api/CompanyClubs/follow-company',
            type: 'post',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            dataType: 'json',
            data: JSON.stringify({
                seoUrl: $("#stxteourl").val(), follow: $("#folloCompanyBtn").val()
            }),
            success: function (res) {
                debugger
                $("#folloCompanyBtn").val(res.data);
                if (res.data === "1") {
                    $("#followValue").text("Takipi Bırak");
                    $("#followValue1").text("Takipi Bırak");
                } else {
                    $("#followValue").text("Takip Et");
                    $("#followValue1").text("Takip Et");
                }
            }
        })
    })

</script>