@using SCA.Common;
@using SCA.Entity.Enums;
@model SCA.Entity.DTO.UserWithAllUniversityInformationDTO
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .edit-icon, .edit-icon-input {
        cursor: pointer;
        margin-left: 10px;
        color: #e91e63;
    }

    .text-unset{
        text-transform:unset !important;
    }

    .green-icon {
        color: #6cba40;
    }

    .red-icon {
        color: #e91e63;
    }

    .social-media-icon {
        padding-right: 10px;
    }

    p > span > br {
        content: "A" !important;
        display: block !important;
        margin-bottom: 10px !important
    }

    .pointer {
        cursor: pointer;
    }

    .ce-block__content {
        max-width: 100%;
    }

    .ce-paragraph {
        margin-right: 30px;
        text-shadow: unset !important;
    }

    .codex-editor__redactor {
        padding-bottom: 10px !important;
    }

    [contenteditable=true] {
        text-shadow: 0px 0px 5px 0px grey;
    }

    .editable-area {
        border: 1px solid #ced4da;
        border-radius: .25rem;
        padding: 3px 10px;
    }

    .social-editor {
        position: absolute;
        max-width: 150px;
        margin-top: 10px;
    }
</style>

<!-- block wrapper start-->
<section class="block-wrapper p-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="featured-tab-item">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs row featured-tab-post" role="tablist">
                        <li role="presentation" class="col-lg">
                            <a href="#home" class="active" aria-controls="home" role="tab" data-toggle="tab">
                                <div class="post-content">
                                    <h3 class="post-title">
                                        Profil Bilgileri
                                    </h3>
                                    <ul class="post-meta-info">
                                        <li class="cat-name">
                                            Sıralama:
                                        </li>
                                        <li>
                                            128
                                        </li>
                                    </ul>
                                </div>
                            </a>
                        </li>
                        <li role="presentation" class="col-lg">
                            <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
                                <div class="post-content">
                                    <h3 class="post-title">
                                        İçerikler
                                    </h3>
                                    <ul class="post-meta-info">
                                        <li class="cat-name">
                                            <i class="fa fa-thumbs-up green-icon"></i>
                                        </li>
                                        <li>
                                            12
                                        </li>
                                        <li class="cat-name">
                                            <i class="fa fa-thumbs-down red-icon"></i>
                                        </li>
                                        <li>
                                            4
                                        </li>
                                    </ul>
                                </div>
                            </a>
                        </li>
                        <li role="presentation" class="col-lg">
                            <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">
                                <div class="post-content">
                                    <h3 class="post-title">
                                        Yorumlar
                                    </h3>
                                    <ul class="post-meta-info">
                                        <li class="cat-name">
                                            <i class="fa fa-thumbs-up green-icon"></i>
                                        </li>
                                        <li>
                                            12
                                        </li>
                                        <li class="cat-name">
                                            <i class="fa fa-thumbs-down red-icon"></i>
                                        </li>
                                        <li>
                                            4
                                        </li>
                                    </ul>
                                </div>
                            </a>
                        </li>
                        <li role="presentation" class="col-lg">
                            <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">
                                <div class="post-content">
                                    <h3 class="post-title">
                                        Takip
                                    </h3>
                                    <ul class="post-meta-info">
                                        <li class="cat-name">
                                            <i class="fa fa-handshake"></i>
                                        </li>
                                        <li>
                                            126
                                        </li>
                                        <li class="cat-name">
                                            <i class="fa fa-praying-hands"></i>
                                        </li>
                                        <li>
                                            25
                                        </li>
                                    </ul>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="home">
                            <div class="ts-grid-box">
                                <div class="post-content">
                                    <h4>
                                        <a id="user-name">@Model.User.Name @Model.User.Surname</a><i class="fa fa-edit edit-icon" for="user-name"></i>
                                        <i class="fa fa-save pull-right red-icon" style="cursor:pointer;"></i>
                                        <i class="fa fa-cogs pull-right social-media-icon red-icon"></i>
                                        <i class="fa fa-linkedin pull-right social-media-icon"></i>
                                        <i class="fa fa-twitter pull-right social-media-icon"></i>
                                        <i class="fa fa-instagram pull-right social-media-icon"></i>
                                        <i class="fa fa-facebook pull-right social-media-icon"></i>
                                    </h4>
                                    <p id="user-description">
                                    </p>
                                    <div class="text-center pb-5 pt-3">
                                        <ul class="footer-social">
                                            <li class="ts-facebook">
                                                <a href="https://www.facebook.com/ogrencikariyeri" target="_blank" rel="nofollow">
                                                    <i class="fa fa-facebook"></i>
                                                    <a id="user-facebook" class="text-unset">ogrencikariyeri</a>
                                                </a>
                                                <i class="fa fa-edit edit-icon" for="user-facebook"></i>
                                            </li>
                                            <li class="ts-instagram-gradient">
                                                <a href="https://www.instagram.com/ogrencikariyeri" target="_blank" rel="nofollow">
                                                    <i class="fa fa-instagram"></i>
                                                    <a id="user-instagram" class="text-unset">ogrencikariyeri</a>
                                                </a>
                                                <i class="fa fa-edit edit-icon" for="user-instagram"></i>
                                            </li>
                                            <li class="ts-twitter">
                                                <a href="https://www.twitter.com/ogrencikariyeri" target="_blank" rel="nofollow">
                                                    <i class="fa fa-twitter"></i>
                                                    <a id="user-twitter" class="text-unset">ogrencikariyeri</a>
                                                </a>
                                                <i class="fa fa-edit edit-icon" for="user-twitter"></i>
                                                @*<input type="text" class="form-control social-editor hidden" id="user-twitter" value="https://www.twitter.com/ogrencikariyeri" />*@
                                            </li>
                                            <li class="ts-linkedin">
                                                <a href="https://www.linkedin.com/company/ogrencikariyeri/" target="_blank" rel="nofollow">
                                                    <i class="fa fa-linkedin"></i>
                                                    <a id="user-linkedin" class="text-unset">ogrencikariyeri</a>
                                                </a>
                                                <i class="fa fa-edit edit-icon" for="user-linkedin"></i>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg">
                                            <div class="media-left col-md-12 text-center"><i class="fa fa-home fa-3x" style="color:#e91e63;"></i></div>
                                            <div class="media-body text-center" style="padding-top:10px;">
                                                <a id="user-address">Kavaklı mah. Gaffar Okkan sok. No: 3 D: 5 <br />Beylikdüzü / İstanbul</a>
                                                <i class="fa fa-edit edit-icon" for="user-address"></i>
                                            </div>
                                        </div>
                                        <div class="col-lg">
                                            <div class="media-left col-md-12 text-center"><i class="fa fa-phone fa-3x" style="color:#e91e63;"></i></div>
                                            <div class="media-body text-center" style="padding-top:10px;">
                                                <a href="tel:05398522341" style="color:unset !important;" id="user-phone">0539 852 2341</a>
                                                <i class="fa fa-edit edit-icon" for="user-phone"></i>
                                            </div>

                                        </div>
                                        <div class="col-lg">
                                            <div class="media-left col-md-12 text-center"><i class="fa fa-envelope fa-3x" style="color:#e91e63;"></i></div>
                                            <div class="media-body text-center" style="padding-top:10px;">
                                                <a id="user-mail" href="mailto:goksudnz@gproject.ist" style="color:unset !important;">goksudnz@gproject.ist</a>
                                                <i class="fa fa-edit edit-icon" for="user-mail"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="fade tab-pane" id="profile">
                            <div class="ts-grid-box clearfix ts-category-title">
                                <h2 class="ts-title float-left">Onaylı İçerikler (12)</h2>
                                <i class="fa fa-chevron-down fa-2x pull-right pointer" for="valid-content-items"></i>
                            </div>
                            <div class="ts-grid-box" id="valid-content-items" style="display:none">
                                <div class="row post-col-list-item" id="content-items">
                                    @await Component.InvokeAsync("NewsWith2Columns", new { count = 12, col = 4 })
                                </div>
                            </div>
                            <div class="ts-grid-box clearfix ts-category-title">
                                <h2 class="ts-title float-left">Onay Bekleyen İçerikler (10)</h2>
                                <i class="fa fa-chevron-down fa-2x pull-right pointer" for="waiting-content-items"></i>
                            </div>
                            <div class="ts-grid-box" id="waiting-content-items" style="display:none">
                                <div class="row post-col-list-item" id="content-items">
                                    @await Component.InvokeAsync("NewsWith2Columns", new { count = 10, col = 4 })
                                </div>
                            </div>
                            <div class="ts-grid-box clearfix ts-category-title">
                                <h2 class="ts-title float-left">Reddedilmiş İçerikler (4)</h2>
                                <i class="fa fa-chevron-down fa-2x pull-right pointer" for="rejected-content-items"></i>
                            </div>
                            <div class="ts-grid-box" id="rejected-content-items" style="display:none">
                                <div class="row post-col-list-item" id="content-items">
                                    @await Component.InvokeAsync("NewsWith2Columns", new { count = 4, col = 4 })
                                </div>
                            </div>

                        </div>
                        <div role="tabpanel" class=" fade tab-pane" id="messages">
                            <div class="ts-grid-box clearfix ts-category-title">
                                <h2 class="ts-title float-left">Onaylı Yorumlar (12)</h2>
                                <i class="fa fa-chevron-up fa-2x pull-right pointer" for="approved-comments"></i>
                            </div>
                            <div class="row" id="approved-comments">
                                @for (int i = 0; i < 9; i++)
                                {
                                <div class="col-lg-3 pr-10 pb-5">
                                    <div class="ts-grid-box ts-col-box">
                                        <div class="item">
                                            <a class="post-cat ts-green-bg" href="#">Sports</a>
                                            <div class="post-content">
                                                <h3 class="post-title md">
                                                    <a href="#">Haber</a>
                                                </h3>
                                                <span class="post-date-info">
                                                    <i class="fa fa-clock-o"></i>
                                                    21.12.2019
                                                </span>
                                                <p>
                                                    @("Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis nisi porttitor, commodo lectus interdum, ullamcorper quam. Maecenas ligula quam, tempus id blandit sit amet, pretium non nibh. Quisque vulputate laoreet tortor, vitae faucibus ante porta ac. Nullam pharetra scelerisque facilisis. In non semper purus, at venenatis nibh. Phasellus non quam arcu.".Substring(0, 80) + "...")
                                                </p>
                                                <ul class="post-meta-info">
                                                    <li>
                                                        <i class="fa fa-thumbs-up green-icon"></i>  12
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-thumbs-down red-icon"></i>  4
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- item end-->
                                    </div>
                                    <!-- ts-grid-box end-->
                                </div>
                                }
                            </div>
                            <div class="ts-grid-box clearfix ts-category-title">
                                <h2 class="ts-title float-left">Onay Bekleyen Yorumlar (12)</h2>
                                <i class="fa fa-chevron-down fa-2x pull-right pointer" for="waiting-comments"></i>
                            </div>
                            <div class="row" id="waiting-comments" style="display:none;">
                                @for (int i = 0; i < 9; i++)
                                {
                                <div class="col-lg-3 pr-10 pb-5">
                                    <div class="ts-grid-box ts-col-box">
                                        <div class="item">
                                            <a class="post-cat ts-green-bg" href="#">Sports</a>
                                            <div class="post-content">
                                                <h3 class="post-title md">
                                                    <a href="#">Haber</a>
                                                </h3>
                                                <span class="post-date-info">
                                                    <i class="fa fa-clock-o"></i>
                                                    21.12.2019
                                                </span>
                                                <p>
                                                    @("Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis nisi porttitor, commodo lectus interdum, ullamcorper quam. Maecenas ligula quam, tempus id blandit sit amet, pretium non nibh. Quisque vulputate laoreet tortor, vitae faucibus ante porta ac. Nullam pharetra scelerisque facilisis. In non semper purus, at venenatis nibh. Phasellus non quam arcu.".Substring(0, 80) + "...")
                                                </p>
                                            </div>
                                        </div>
                                        <!-- item end-->
                                    </div>
                                    <!-- ts-grid-box end-->
                                </div>
                                }
                            </div>

                            <div class="ts-grid-box clearfix ts-category-title">
                                <h2 class="ts-title float-left">Onaylı Yorumlar (12)</h2>
                                <i class="fa fa-chevron-down fa-2x pull-right pointer" for="rejected-comments"></i>
                            </div>
                            <div class="row" id="rejected-comments" style="display:none;">
                                @for (int i = 0; i < 9; i++)
                                {
                                <div class="col-lg-3 pr-10 pb-5">
                                    <div class="ts-grid-box ts-col-box">
                                        <div class="item">
                                            <a class="post-cat ts-green-bg" href="#">Sports</a>
                                            <div class="post-content">
                                                <h3 class="post-title md">
                                                    <a href="#">Haber</a>
                                                </h3>
                                                <span class="post-date-info">
                                                    <i class="fa fa-clock-o"></i>
                                                    21.12.2019
                                                </span>
                                                <p>
                                                    @("Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis nisi porttitor, commodo lectus interdum, ullamcorper quam. Maecenas ligula quam, tempus id blandit sit amet, pretium non nibh. Quisque vulputate laoreet tortor, vitae faucibus ante porta ac. Nullam pharetra scelerisque facilisis. In non semper purus, at venenatis nibh. Phasellus non quam arcu.".Substring(0, 80) + "...")
                                                </p>
                                            </div>
                                        </div>
                                        <!-- item end-->
                                    </div>
                                    <!-- ts-grid-box end-->
                                </div>
                                }
                            </div>
                        </div>
                        <div role="tabpanel" class=" fade tab-pane" id="settings">
                            <div class="feauted-tab-img">
                                <a href="#">
                                    <img class="img-fluid" src="images/blog/banner_img4.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- featured tab item end-->

            </div>
            <!-- col end-->
        </div>
        <!-- row end-->
    </div>
    <!-- container end-->
</section>
<!-- block wrapper end-->
@section Scripts{
<script src="https://cdn.jsdelivr.net/npm/@@editorjs/editorjs@@latest"></script>
<script>
    var editorUserDesc = new EditorJS({
        holderId: 'user-description',
        placeholder: 'Kendin hakkında birşeyler yaz...',
        data: {
            "time": 1550476186479,
            "blocks": [
                {
                    "type": "paragraph",
                    "data": {
                        "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec libero sem, eleifend sit amet mauris ut, venenatis ultricies lectus. Phasellus mollis sollicitudin neque. Aenean faucibus felis sed tortor consectetur, et pharetra mauris pretium. Vivamus ac orci eu ipsum congue posuere. Nunc dignissim felis vel tellus pharetra sollicitudin. Nunc finibus, arcu sed tempor scelerisque, sapien urna rhoncus nisl, eu consequat leo sem pulvinar quam. Integer at lacus convallis, dictum ante non, dignissim libero. Phasellus varius sapien nunc, quis commodo lectus cursus id. Nullam vel dui tincidunt, convallis tortor vehicula, facilisis magna."
                    }
                },
                {
                    "type": "paragraph",
                    "data": {
                        "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec libero sem, eleifend sit amet mauris ut, venenatis ultricies lectus. Phasellus mollis sollicitudin neque. Aenean faucibus felis sed tortor consectetur, et pharetra mauris pretium. Vivamus ac orci eu ipsum congue posuere. Nunc dignissim felis vel tellus pharetra sollicitudin. Nunc finibus, arcu sed tempor scelerisque, sapien urna rhoncus nisl, eu consequat leo sem pulvinar quam. Integer at lacus convallis, dictum ante non, dignissim libero. Phasellus varius sapien nunc, quis commodo lectus cursus id. Nullam vel dui tincidunt, convallis tortor vehicula, facilisis magna."
                    }
                }
            ]
        }
    })
    $(document).on('click', '.pointer', function () {
        var area = $(this).attr('for');
        $(this).toggleClass("fa-chevron-up")
        $(this).toggleClass("fa-chevron-down")
        $(`#${area}`).toggle(300);
    })
    $(document).on('click', '.edit-icon', function () {
        var area = $(this).attr('for');
        $(this).toggleClass("fa-edit");
        $(this).toggleClass("fa-check");
        $(this).toggleClass("green-icon");
        $(this).hasClass("fa-edit") ? $(`#${area}`).attr('contenteditable', false) : $(`#${area}`).attr('contenteditable', true);
        $(`#${area}`).toggleClass('editable-area');
    })
    $(document).on('click', '.edit-icon-input', function () {
        var area = $(this).attr('for');
        $(this).toggleClass("fa-edit");
        $(this).toggleClass("fa-check");
        $(this).toggleClass("green-icon");
        $(`#${area}`).toggleClass("hidden");
    })
    function saveChanges() {
        var data = {
            name: $("#user-name").text(),
            facebook: $("#user-facebook").text(),
            twitter: $("#user-twitter").text(),
            instagram: $("#user-instagram").text(),
            linkedin: $("#user-linkedin").text(),
            address: $("#user-address").text(),
            phone: $("#user-phone").text(),
            mail: $("#user-mail").text(),
            description: editorUserDesc.save().then(output => {
                return output;
            })
        }
        console.log(data);
    }
</script>
}