@using SCA.Common;
@using SCA.Entity.Enums;
@model SCA.Entity.DTO.UserWithAllUniversityInformationDTO
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var facebook = Model.SocialMedias.Find(x => x.SocialMediaType == SocialMediaType.Facebook)?.Url.Split("/").Last();
    var instagram = Model.SocialMedias.Find(x => x.SocialMediaType == SocialMediaType.Instagram)?.Url.Split("/").Last();
    var twitter = Model.SocialMedias.Find(x => x.SocialMediaType == SocialMediaType.Twitter)?.Url.Split("/").Last();
    var linkedin = Model.SocialMedias.Find(x => x.SocialMediaType == SocialMediaType.Linkedin)?.Url.Split("/").Last();
}

<style>
    .edit-icon, .edit-icon-input {
        cursor: pointer;
        margin-left: 10px;
        color: #e91e63;
    }

    .text-unset {
        text-transform: unset !important;
    }

    .green-icon {
        color: #6cba40;
    }

    .red-icon {
        color: #e91e63;
    }

    .social-media-icon {
        padding-right: 10px;
    }

    p > span > br {
        content: "A" !important;
        display: block !important;
        margin-bottom: 10px !important
    }

    .pointer {
        cursor: pointer;
    }

    .ce-block__content {
        max-width: 100%;
    }

    .ce-paragraph {
        margin-right: 30px;
        text-shadow: unset !important;
    }

    .codex-editor__redactor {
        padding-bottom: 10px !important;
    }

    [contenteditable=true] {
        text-shadow: 0px 0px 5px 0px grey;
    }

    .editable-area {
        border: 1px solid #ced4da;
        border-radius: .25rem;
        padding: 3px 10px;
        display: inherit;
    }

    .social-editor {
        position: absolute;
        max-width: 150px;
        margin-top: 10px;
    }
</style>

<!-- block wrapper start-->
<section class="block-wrapper p-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="featured-tab-item">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs row featured-tab-post" role="tablist">
                        <li role="presentation" class="col-lg">
                            <a href="#home" class="active" aria-controls="home" role="tab" data-toggle="tab">
                                <div class="post-content">
                                    <h3 class="post-title">
                                        Profil Bilgileri
                                    </h3>
                                </div>
                            </a>
                        </li>
                        <li role="presentation" class="col-lg">
                            <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
                                <div class="post-content">
                                    <h3 class="post-title">
                                        Eğitim Bilgileri
                                    </h3>
                                </div>
                            </a>
                        </li>
                        <li role="presentation" class="col-lg">
                            <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">
                                <div class="post-content">
                                    <h3 class="post-title">
                                        Yorumlar
                                    </h3>
                                    <ul class="post-meta-info">
                                        <li class="cat-name">
                                            <i class="fa fa-thumbs-up green-icon"></i>
                                        </li>
                                        <li>
                                            12
                                        </li>
                                        <li class="cat-name">
                                            <i class="fa fa-thumbs-down red-icon"></i>
                                        </li>
                                        <li>
                                            4
                                        </li>
                                    </ul>
                                </div>
                            </a>
                        </li>
                        <li role="presentation" class="col-lg">
                            <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">
                                <div class="post-content">
                                    <h3 class="post-title">
                                        Takip
                                    </h3>
                                    <ul class="post-meta-info">
                                        <li class="cat-name">
                                            <i class="fa fa-handshake"></i>
                                        </li>
                                        <li>
                                            126
                                        </li>
                                        <li class="cat-name">
                                            <i class="fa fa-praying-hands"></i>
                                        </li>
                                        <li>
                                            25
                                        </li>
                                    </ul>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="home">
                            <div class="ts-grid-box">
                                <div class="post-content">
                                    <h4>
                                        <a id="user-name">@Model.User.Name @Model.User.Surname</a><i class="fa fa-edit edit-icon" for="user-name"></i>
                                        <i id="user-save" class="fa fa-save pull-right red-icon" style="cursor:pointer;"></i>
                                        <i class="fa fa-cogs pull-right social-media-icon red-icon"></i>
                                        <i class="fa fa-linkedin pull-right social-media-icon"></i>
                                        <i class="fa fa-twitter pull-right social-media-icon"></i>
                                        <i class="fa fa-instagram pull-right social-media-icon"></i>
                                        <i class="fa fa-facebook pull-right social-media-icon"></i>
                                    </h4>
                                    <p id="user-description">
                                    </p>
                                    <div class="text-center pb-5 pt-3">
                                        <ul class="footer-social">
                                            <li class="ts-facebook">
                                                <a href="https://www.facebook.com/@facebook" target="_blank" rel="nofollow">
                                                    <i class="fa fa-facebook"></i>
                                                    <a id="user-facebook" class="text-unset">@facebook</a>
                                                </a>
                                                <i class="fa fa-edit edit-icon" for="user-facebook"></i>
                                            </li>
                                            <li class="ts-instagram-gradient">
                                                <a href="https://www.instagram.com/@instagram" target="_blank" rel="nofollow">
                                                    <i class="fa fa-instagram"></i>
                                                    <a id="user-instagram" class="text-unset">@instagram</a>
                                                </a>
                                                <i class="fa fa-edit edit-icon" for="user-instagram"></i>
                                            </li>
                                            <li class="ts-twitter">
                                                <a href="https://www.twitter.com/@twitter" target="_blank" rel="nofollow">
                                                    <i class="fa fa-twitter"></i>
                                                    <a id="user-twitter" class="text-unset">@twitter</a>
                                                </a>
                                                <i class="fa fa-edit edit-icon" for="user-twitter"></i>
                                                @*<input type="text" class="form-control social-editor hidden" id="user-twitter" value="https://www.twitter.com/ogrencikariyeri" />*@
                                            </li>
                                            <li class="ts-linkedin">
                                                <a href="https://www.linkedin.com/company/@linkedin" target="_blank" rel="nofollow">
                                                    <i class="fa fa-linkedin"></i>
                                                    <a id="user-linkedin" class="text-unset">@linkedin</a>
                                                </a>
                                                <i class="fa fa-edit edit-icon" for="user-linkedin"></i>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg">
                                            <div class="media-left col-md-12 text-center"><i class="fa fa-home fa-3x" style="color:#e91e63;"></i></div>
                                            <div class="media-body text-center" style="padding-top:10px;">
                                                <a id="user-address"></a>
                                                <i class="fa fa-edit edit-icon" for="user-address"></i>
                                            </div>
                                        </div>
                                        <div class="col-lg">
                                            <div class="media-left col-md-12 text-center"><i class="fa fa-phone fa-3x" style="color:#e91e63;"></i></div>
                                            <div class="media-body text-center" style="padding-top:10px;">
                                                <a href="tel:@Model.User.PhoneNumber" style="color:unset !important;" id="user-phone">@Model.User.PhoneNumber</a>
                                                <i class="fa fa-edit edit-icon" for="user-phone"></i>
                                            </div>

                                        </div>
                                        <div class="col-lg">
                                            <div class="media-left col-md-12 text-center"><i class="fa fa-envelope fa-3x" style="color:#e91e63;"></i></div>
                                            <div class="media-body text-center" style="padding-top:10px;">
                                                <a id="user-mail" href="mailto:@Model.User.EmailAddress" style="color:unset !important;">@Model.User.EmailAddress</a>
                                                <i class="fa fa-edit edit-icon" for="user-mail"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="profile">
                            <div class="ts-grid-box">
                                <div class="post-content">
                                    <h4>
                                        <i id="user-save" class="fa fa-save pull-right red-icon" style="cursor:pointer;"></i>
                                        <i class="fa fa-cogs pull-right social-media-icon red-icon"></i>
                                        <i class="fa fa-linkedin pull-right social-media-icon"></i>
                                        <i class="fa fa-twitter pull-right social-media-icon"></i>
                                        <i class="fa fa-instagram pull-right social-media-icon"></i>
                                        <i class="fa fa-facebook pull-right social-media-icon"></i>
                                    </h4>

                                    @using (Html.BeginForm("Register", "Shared", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col">
                                                <label>Eğitim Durumu</label>
                                                <select id="educationType" class="form-control" name="EducationType" required>
                                                    <option value="">Seçim yapınız...</option>
                                                    @foreach (EducationType x in (EducationType[])Enum.GetValues(typeof(EducationType)))
                                                    {
                                                        <option value="@((long)x)">@x.GetDescription()</option>
                                                    }
                                                </select>
                                            </div> <!-- form-group end.// -->
                                            <!-- form-group end.// -->
                                        </div> <!-- form-row.// -->
                                        <div class="template-selected-highschool hidden">
                                            <div class="form-row">
                                                <div class="form-group col">
                                                    <label>Lise</label>
                                                    <select class="form-control" name="HighSchoolTypeId">
                                                        <option value="">Seçiniz...</option>
                                                        @foreach (var x in Model.Definitions.HighSchools)
                                                        {
                                                            <option value="@x.Id">@x.SchoolName</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="template-selected-university hidden">
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label>Üniversite</label>
                                                    <select class="form-control" name="UniversityId">
                                                        <option value="">Seçiniz...</option>
                                                        @foreach (var x in Model.Definitions.Universities)
                                                        {
                                                            <option value="@x.Id">@x.UniversityName</option>
                                                        }
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>Fakülte</label>
                                                    <select class="form-control" name="FacultyId">
                                                        <option value="">Seçiniz...</option>
                                                        @foreach (var x in Model.Definitions.Faculties)
                                                        {
                                                            <option value="@x.Id">@x.FacultyName</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label>Bölüm</label>
                                                    <select class="form-control" name="DepartmentId">
                                                        <option value="">Seçiniz...</option>
                                                        @foreach (var x in Model.Definitions.Departments)
                                                        {
                                                            <option value="@x.Id">@x.DepartmentName</option>
                                                        }
                                                    </select>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="form-row template-still-student hidden">
                                            <div class="form-group col-md-6">
                                                <label>Hala öğrenci misiniz?</label><br />
                                                <input name="IsStudent" type="checkbox" id="stillStudent" class="js-switch stillStudent" data-color="#00c292" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <div class="showClasses hidden">
                                                    <label>Sınıf</label>
                                                    <select class="form-control" name="ClassId">
                                                        <option value="">Seçiniz...</option>
                                                        @foreach (var x in Model.Definitions.Classes)
                                                        {
                                                            <option value="@x.Id">@x.Description</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class=" fade tab-pane" id="messages">
                            <div class="ts-grid-box clearfix ts-category-title">
                                <h2 class="ts-title float-left">Onaylı Yorumlar (12)</h2>
                                <i class="fa fa-chevron-up fa-2x pull-right pointer" for="approved-comments"></i>
                            </div>
                            <div class="row" id="approved-comments">
                                @for (int i = 0; i < 9; i++)
                                {
                                    <div class="col-lg-3 pr-10 pb-5">
                                        <div class="ts-grid-box ts-col-box">
                                            <div class="item">
                                                <a class="post-cat ts-green-bg" href="#">Sports</a>
                                                <div class="post-content">
                                                    <h3 class="post-title md">
                                                        <a href="#">Haber</a>
                                                    </h3>
                                                    <span class="post-date-info">
                                                        <i class="fa fa-clock-o"></i>
                                                        21.12.2019
                                                    </span>
                                                    <p>
                                                        @("Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis nisi porttitor, commodo lectus interdum, ullamcorper quam. Maecenas ligula quam, tempus id blandit sit amet, pretium non nibh. Quisque vulputate laoreet tortor, vitae faucibus ante porta ac. Nullam pharetra scelerisque facilisis. In non semper purus, at venenatis nibh. Phasellus non quam arcu.".Substring(0, 80) + "...")
                                                    </p>
                                                    <ul class="post-meta-info">
                                                        <li>
                                                            <i class="fa fa-thumbs-up green-icon"></i>  12
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-thumbs-down red-icon"></i>  4
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- item end-->
                                        </div>
                                        <!-- ts-grid-box end-->
                                    </div>
                                }
                            </div>
                            <div class="ts-grid-box clearfix ts-category-title">
                                <h2 class="ts-title float-left">Onay Bekleyen Yorumlar (12)</h2>
                                <i class="fa fa-chevron-down fa-2x pull-right pointer" for="waiting-comments"></i>
                            </div>
                            <div class="row" id="waiting-comments" style="display:none;">
                                @for (int i = 0; i < 9; i++)
                                {
                                    <div class="col-lg-3 pr-10 pb-5">
                                        <div class="ts-grid-box ts-col-box">
                                            <div class="item">
                                                <a class="post-cat ts-green-bg" href="#">Sports</a>
                                                <div class="post-content">
                                                    <h3 class="post-title md">
                                                        <a href="#">Haber</a>
                                                    </h3>
                                                    <span class="post-date-info">
                                                        <i class="fa fa-clock-o"></i>
                                                        21.12.2019
                                                    </span>
                                                    <p>
                                                        @("Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis nisi porttitor, commodo lectus interdum, ullamcorper quam. Maecenas ligula quam, tempus id blandit sit amet, pretium non nibh. Quisque vulputate laoreet tortor, vitae faucibus ante porta ac. Nullam pharetra scelerisque facilisis. In non semper purus, at venenatis nibh. Phasellus non quam arcu.".Substring(0, 80) + "...")
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- item end-->
                                        </div>
                                        <!-- ts-grid-box end-->
                                    </div>
                                }
                            </div>

                            <div class="ts-grid-box clearfix ts-category-title">
                                <h2 class="ts-title float-left">Onaylı Yorumlar (12)</h2>
                                <i class="fa fa-chevron-down fa-2x pull-right pointer" for="rejected-comments"></i>
                            </div>
                            <div class="row" id="rejected-comments" style="display:none;">
                                @for (int i = 0; i < 9; i++)
                                {
                                    <div class="col-lg-3 pr-10 pb-5">
                                        <div class="ts-grid-box ts-col-box">
                                            <div class="item">
                                                <a class="post-cat ts-green-bg" href="#">Sports</a>
                                                <div class="post-content">
                                                    <h3 class="post-title md">
                                                        <a href="#">Haber</a>
                                                    </h3>
                                                    <span class="post-date-info">
                                                        <i class="fa fa-clock-o"></i>
                                                        21.12.2019
                                                    </span>
                                                    <p>
                                                        @("Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis nisi porttitor, commodo lectus interdum, ullamcorper quam. Maecenas ligula quam, tempus id blandit sit amet, pretium non nibh. Quisque vulputate laoreet tortor, vitae faucibus ante porta ac. Nullam pharetra scelerisque facilisis. In non semper purus, at venenatis nibh. Phasellus non quam arcu.".Substring(0, 80) + "...")
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- item end-->
                                        </div>
                                        <!-- ts-grid-box end-->
                                    </div>
                                }
                            </div>
                        </div>
                        <div role="tabpanel" class=" fade tab-pane" id="settings">
                            <div class="feauted-tab-img">
                                <a href="#">
                                    <img class="img-fluid" src="images/blog/banner_img4.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- featured tab item end-->

            </div>
            <!-- col end-->
        </div>
        <!-- row end-->
    </div>
    <!-- container end-->
</section>
<span id="info-area" data-user="@Model.User.Id" data-biography="@Model.User.Biography" class="hidden" hidden></span>
<!-- block wrapper end-->
@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/@@editorjs/editorjs@@latest"></script>
    <script src="~/Template/PViews/User/index.js"></script>
}