@model SCA.Entity.Model.User.UserSummary

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="block-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 mx-auto">
                <div class="ts-grid-box">
                    <div class="login-page">
                        <h4 class="text-center mb-20 forgetText">Sn. @Model.Name @Model.Surname, aşağıdaki alana yeni şifrenizi girerek şifrenizi değiştirebilirsiniz.</h4>
                        <form role="form" class="changePassword">
                            @Html.HiddenFor(x=>x.ForgetAuthorizationKey)
                            @Html.HiddenFor(x=>x.Id)
                            <div class="form-group">
                                <label for="inputUsernameEmail">Email</label>
                                <input type="email" class="form-control" name="email" id="inputUsernameEmail" disabled value="@Model.EmailAddress">
                            </div>
                            <div class="form-group">
                                <label for="inputPassword">Şifre</label>
                                <input type="password" name="password" class="form-control" id="inputPassword">
                            </div>
                            <div class="form-group">
                                <label for="inputPassword">Şifre Onayla</label>
                                <input type="password" name="retypePassword" class="form-control" id="inputRetypePassword">
                            </div>
                            <button type="submit" class="btn btn btn-primary">
                                Şifre Değiştir
                            </button>
                        </form>
                    </div>
                </div><!-- grid box end -->
            </div>
            <!-- col end-->

        </div>
        <!-- row end-->
    </div>
    <!-- container end-->
</section>

